
body{
  background-color: RGBA(244, 236, 234, 1);
}

p{
  text-align: center;
position: relative;
bottom: 110px;
font-size: 150px;
color: #E40B01;
font-weight: bold;

}

.logo{
  display: block;
margin-left: auto;
margin-right: auto;
width: 280px;
height: 200px;
}
/*
span {
  width: 15px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  display: block;
  float: left;

}
*/


.home{
height: 1000px;
width: 950px;
position: relative;
bottom: 250px;


}

.Fall{
  Top: 20px;
  text-align: left;
  left: 80px;
  font-size: 100px;
  color: #E40B01;
  font-weight: bold;
}

.Falldress{
  height: 1000px;
width: 650px;
top: 500px;
margin: 100px 0 0 80px;
}

.yellow{
  float: right;
  height: 1500px;
  width: 900px;
  margin-top: 1000px;


}

.cindy{
font-size: 25px;
color: #E40B01;
position: relative;
top: 1300px;
}

.prijs1{
  color: black;
  font-size: 20px;
  font-weight: lighter;
  top: 1300px;
}

.oog{
  position: absolute;
  margin: 1500px 100px 100px 200px;
}

.pijl{
  width: 200px;
  height: 200px;
  position: relative;
  float: right;
  bottom: 1779px;
  right: 56px;
}

.lips{
height: 200px;
width: 200px;
position: relative;
top: 1400px;
right: 620px;
}

.irina{
  font-size: 25px;
  color: #E40B01;
  position: relative;
  top: 100px;
}

.prijs2{
  font-size: 20px;
  color: black;
  position: relative;
  top: 120px;
}

.dress{
  position: absolute;
  right: 0px;
  margin-top: 500px;
  width: 700px;
}

.denice{
  font-size: 25px;
  color: #E40B01;
  position: relative;
  top: 1550px;
  left: 250px;
}

.prijs3{
  font-size: 25px;
  color: black;
  position: relative;
  top: 1550px;
left: 250px;
}
